.container {
    background-color: rgb(240, 222, 225);
    width: 960px;
    border-radius: 10px;
}

.row2 {
    background-color: rgb(240, 222, 225);
}

.btn-lg {
    padding: 8px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 12px;
  }
  
  .btn-sm,
  .btn-xs {
    padding: 4px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 6px;
  }

p {
    color   :   Black;
    font-weight: bold;
}

.row1 {
    margin-top: 4px;
    margin-bottom: 30px;
}

button {
  margin: 4px;
}

hr {
    border-width: 3px;
}
input {
    width: 10px;
}

#results-view {
    border-right:1px solid white;
    min-height: 650px;
}

img{
    max-height: 100px;
    max-width: 100%;
}